/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

body {
  padding-top: 56px;
}
header {
  .header-nav {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  // flash
  .alert-notice {
    @extend .alert-success;
  }

  .alert-alert {
    @extend .alert-danger;
  }
}

.base-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}